<section id="wrapper">
	<%=head_to_user_tag-%>
	<nav>
		<div class="padding">
			<%=section_menu_tag(7)-%>
			<div class="content">
				<div class="account">
					<div class="panel profile_nav_template">
						<h1>Informações da Conta</h1>
						<%= profile_menu_tag(7)%>
					</div>
				</div>
			</div>
		</div>		
	</nav>
	<section id="content">
		<div class="account" style="display: block;"><div id="invitation_view">
			<div class="padding">
				<h2><%= I18n.t 'users.create' -%></h2>
				<section id="page_section">
						<%= field_set_tag('Cadastro de cliente', :style=>"border:1px solid silver;") do %>
							<form method="post" action="/chofer_users" accept-charset="UTF-8">
								<table class="basetable">
									<tbody>
										<tr>
											<td>Primeiro nome</td>
											<td><%= text_field_tag :first_name, nil, {:class=>'text',:placeholder=>'Primeiro nome', :disabled => (@edit ? true : false)} %></td>
										</tr>
										<tr>
											<td>Último nome</td>
											<td><%= text_field_tag :last_name, nil, {:class=>'text',:placeholder=>'Último nome', :disabled=> (@edit ? true : false)} %></td>
										</tr>
										<tr>
											<td>E-mail</td>
											<td><%= email_field_tag :email, nil,{:class=>'text',:placeholder=>'E-mail', :disabled=> (@edit ? true : false)} %></td>
										</tr>
										<tr>
											<td>Telefone</td>
											<td><%= text_field_tag :number_phone, nil,{:class=>'text',:placeholder=>'Telefone'} %></td>
										</tr>
										<tr>
											<td>Usuário master? <%= check_box_tag(:is_master) %></td>
										</tr>
										<tr>
											<td><%= submit_tag "Cadastrar", {:class=>"submit"} %></td>
										</tr>
									</tbody>
								</table>
							</form>
						<% end %>
				</section>
			</div>
		</div></div>
	</section>
</section>

<script>
</script>